{% extends 'base.html.twig' %}

{% block title %}Hello LieuController!{% endblock %}

{% block body %}
    <main>
        <h1>Ajouter des lieux</h1>
        {{ form_start(lieuForm) }}

        {{ form_row(lieuForm.nom) }}
        {{ form_row(lieuForm.rue) }}
        {{ form_row(lieuForm.longitude) }}
        {{ form_row(lieuForm.latitude) }}
        {{ form_row(lieuForm.ville) }}

        {{ form_widget(lieuForm) }}
        <input type="submit" class="btn-ajouter-lieu-detail btn-primary" value="Ajouter le lieu">
        <a href="{{ path('sortie_creation') }}"><input type="button" class="btn-annuler-ajout-lieu-detail" value="Annuler"></a>
        {{ form_end(lieuForm) }}


    </main>
{% endblock %}
