{% extends 'base.html.twig' %}

{% block body %}
    <main>
        {{ form_start(sortieForm) }}

        {{ form_row(sortieForm.name) }}
        {{ form_row(sortieForm.motifAnnulation) }}

        <input type="submit" name="enregistrer" class="btn-annuler-la-sortie-motif btn-primary" value="Annuler la sortie">
        <a href="{{ path('affichage_sortie') }}"><input type="button" class="btn-retour-sortie-motif" value="Retour"></a>

        {{ form_end(sortieForm) }}
    </main>
{% endblock %}

{% block title %}Annuler une sortie{% endblock %}

