{% extends 'base.html.twig' %}

{% block title %}Hello CreationSortieController!{% endblock %}

{% block body %}
    <main>
    <h1>Créer une sortie</h1>

        {{ form_start(formSortie) }}
        <select id="filtre_ville" data-route="{{ path('sortie_creation') }}" >
            <option value="">Tous</option>
            {% for ville in villes %}


                <option value="{{ ville.id }}" {{ selected }} >{{ ville.name }}</option>
            {% endfor %}
        </select>
        {{ form_end(formSortie) }}
    </main>
{% endblock %}
