{% extends 'base.html.twig' %}

{% block title %}Ajouter une sortie{% endblock %}

{% block body %}
    <main>
        <h3>Créer une sortie</h3>
        {{ form_start(sortieForm) }}
        <label for="user_ville">Site organisateur</label>
        <input class="form-control" id="disabledInput" type="text" name="site_id" placeholder="{{ site.name }}"
               disabled>
        {{ form_row(sortieForm.name) }}
        {{ form_row(sortieForm.ville, { 'value':" " }) }}
        {{ form_row(sortieForm.lieu) }}
        <a href="{{ path('lieu') }}" class="btn btn-success" >Ajouter un nouveau lieu</a>

        <div id="hidden_detailLieu">
            {{ form_row(sortieForm.rue) }}
            {{ form_row(sortieForm.latitude) }}
            {{ form_row(sortieForm.longitude) }}
            {{ form_row(sortieForm.codePostal) }}
        </div>

        {{ form_row(sortieForm.dateDebut ) }}
        {{ form_row(sortieForm.dateCloture) }}
        {{ form_row(sortieForm.duree ) }}
        {{ form_row(sortieForm.nbInscriptionsMax ) }}
        {{ form_row(sortieForm.description ) }}
        {{ form_row(sortieForm.urlPhoto) }}

        <button type="submit" name="publier" class="btn btn-primary" value="publier">Publier</button>
        <button type="submit" name="enregistrer" class="btn btn-success" value="enregistrer">Enregistrer</button>

        <a class="btn btn-outline-danger" href="{{ path('affichage_sortie') }}">Annuler</a>

        {{ form_end(sortieForm) }}

        {#{% if hidden == true %}

            {% do sortieForm.rue.setRendered() %}
            {% do sortieForm.latitude.setRendered() %}
            {% do sortieForm.longitude.setRendered() %}
            {% do sortieForm.codePostal.setRendered() %}

        {% else %}

            {{ form_row(sortieForm.rue) }}
            {{ form_row(sortieForm.latitude) }}
            {{ form_row(sortieForm.longitude) }}
            {{ form_row(sortieForm.codePostal) }}


        {% endif %}#}

        <!-- Modal -->
        {#<div class="modal fade" id="modalForm" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">×</span>
                            <span class="sr-only">Close</span>
                        </button>
                        <h4 class="modal-title" id="myModalLabel">Ajouter des lieux</h4>
                    </div>

                    <!-- Modal Body -->
                    <div class="modal-body">
                        <p class="statusMsg"></p>
                        <form role="form">
                            <div class="form-group">
                                <label for="inputName">Rue</label>
                                <input type="text" class="form-control" id="rue"/>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail">Latitude</label>
                                <input type="text" class="form-control" id="latitude"/>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail">Longitude</label>
                                <input type="text" class="form-control" id="longitude"/>
                            </div>
                            <div class="form-group">
                                <label for="inputEmail">Code Postale</label>
                                <input type="text" class="form-control" id="latitude"/>
                            </div>
                        </form>
                    </div>

                    <!-- Modal Footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary submitBtn" onclick="submitContactForm()">SUBMIT
                        </button>
                    </div>
                </div>
            </div>
        </div>#}





    </main>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {# JavaScript filter places by cities #}

    <script>
        $('#sortie_ville').change(function () {
            $('#sortie_lieu').empty();
            $.get('creation/ajax/' + $(this).val())
                .done(function (data) {
                    $('#sortie_lieu').append('<option>' + "Choissisez un lieu" + '</option>');
                    $.each(data, function (key, lieu) {
                        // console.log(lieu);

                        $('#sortie_lieu').append('<option value="' + lieu.id + '">' + lieu.nom + '</option>');

                    });
                });
        });

    </script>

    {# JavaScript info place (address) #}
    <script>
        $('#sortie_lieu').change(function () {
            $.get('creation/requeteLieu/' + $(this).val())
                .done(function (data) {
                    //console.log(data);
                    $('#sortie_rue').val(data.rue);
                    $('#sortie_longitude').val(data.longitude);
                    $('#sortie_latitude').val(data.latitude);
                    $('#sortie_codePostal').val(data.codePostal)

                });
        });
    </script>



{% endblock %}