{% extends 'base.html.twig' %}

{% block title %}Hello CreationSortieController!{% endblock %}

{% block body %}
    <main>
        {# read and display all flash messages #}
        {% for label, messages in app.flashes(['danger', 'success']) %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        <h3>Créer une sortie</h3>
        {{ form_start(sortieForm) }}

                {{ form_row(sortieForm.name) }}
                {{ form_row(sortieForm.nbInscriptionsMax ) }}
                {{ form_row(sortieForm.duree ) }}
                {{ form_row(sortieForm.description ) }}
                {{ form_row(sortieForm.dateDebut ) }}
                {{ form_row(sortieForm.dateCloture) }}

                    <label for="user_ville">Site organisateur :</label>
                    <input class="form-control" id="disabledInput" type="text" name="site_id" placeholder="{{ site.name }}"disabled >


                    <label for="ville_nom">Ville :</label>
                    <select name="ville" id="ville" class="form-control">
                        {% for ville in villes %}
                            <option value="{{ ville.name }}">{{ ville.name }}</option>
                        {% endfor %}
                    </select>

        <label for="lieu_nom">Lieu :</label>
        <select name="lieu" id="lieu" class="form-control">
            {% for lieu in lieux %}
                <option value="{{ lieu.nom }}">{{ lieu.nom }}</option>
            {% endfor %}
        </select>



        <a href="{{ path('lieu') }}" class="btn btn-success">+</a>

        {# <button type="button" class="close red delete-item" aria-label="New" title="new place ?" data-placement="right"
                 data-link="{{ path('lieu') }}">
             <span aria-hidden="true">+</span>
         </button>#}




       {#<a class="btn btn-outline-danger" href="{{ path('home') }}">Annuler</a>#}
        {{ form_end(sortieForm) }}

    </main>
{% endblock %}
