{% extends 'base.html.twig' %}

{% block title %}Ajouter une sortie{% endblock %}

{% block body %}
    <main>
        <h3>Créer une sortie</h3>
        {{ form_start(sortieForm) }}
        <label for="user_ville">Site organisateur</label>
        <input class="form-control" id="disabledInput" type="text" name="site_id" placeholder="{{ site.name }}"
               disabled>
        {{ form_row(sortieForm.name) }}
        {{ form_row(sortieForm.ville) }}

        {{ form_row(sortieForm.lieu) }}
        <a href="{{ path('lieu') }}" ><input class="btn-ajouter-lieu" type="button" value="Ajouter un nouveau lieu"></a>

        <div id="hidden_detailLieu">

            {% if lieu is not null %}
                {{ form_row(sortieForm.rue, {'value' : lieu.rue}) }}
                {{ form_row(sortieForm.latitude, {'value' : lieu.latitude}) }}
                {{ form_row(sortieForm.longitude, {'value' : lieu.longitude}) }}
                {{ form_row(sortieForm.codePostal, {'value' : lieu.ville.codePostal}) }}
            {{ form_row(sortieForm.lieu, {'value' : lieu.id}) }}
            {% else %}
                {{ form_row(sortieForm.rue) }}
                {{ form_row(sortieForm.latitude) }}
                {{ form_row(sortieForm.longitude) }}
                {{ form_row(sortieForm.codePostal) }}

            {% endif %}
        </div>

        {{ form_row(sortieForm.dateDebut ) }}
        {{ form_row(sortieForm.dateCloture) }}
        {{ form_row(sortieForm.duree ) }}
        {{ form_row(sortieForm.nbInscriptionsMax ) }}
        {{ form_row(sortieForm.description ) }}
        {{ form_row(sortieForm.urlPhoto) }}

        <input type="submit" name="publier" class="btn-primary btn-publier-sortie" value="Publier">
        <input type="submit" name="enregistrer" class="btn-enregistrer-sortie" value="Enregistrer">

        <a href="{{ path('affichage_sortie') }}"><input class="btn-annuler-sortie" type="button" value="Annuler"></a>

        {{ form_end(sortieForm) }}

    </main>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {# JavaScript filter places by cities #}

    <script>

        window.onload = document.getElementById('sortie_lieu').setAttribute('disabled', 'disabled');
        $('#sortie_ville').change(function () {
            $('#sortie_lieu').empty();
            $.get('creation/ajax/' + $(this).val())
                .done(function (data) {
                    document.getElementById('sortie_lieu').removeAttribute('disabled', 'disabled');
                    $('#sortie_lieu').append('<option readonly="readonly">' + "Choissisez un lieu" + '</option>');
                    $.each(data, function (key, lieu) {
                        // console.log(lieu);

                        $('#sortie_lieu').append('<option value="' + lieu.id + '">' + lieu.nom + '</option>');

                    });
                });
        });

    </script>

    {# JavaScript info place (address) #}
    <script>
        $('#sortie_lieu').change(function () {
            $.get('creation/requeteLieu/' + $(this).val())
                .done(function (data) {
                    //console.log(data);
                    $('#sortie_rue').val(data.rue);
                    $('#sortie_longitude').val(data.longitude);
                    $('#sortie_latitude').val(data.latitude);
                    $('#sortie_codePostal').val(data.codePostal)

                });
        });

        $('#form-sortie').submit(function () {
            $('#sortie_lieu').prop('disabled', false);
        })
    </script>



{% endblock %}

