{% extends 'base.html.twig' %}

{% block body %}
    <div class="container" >
        <div class="row col-lg-12 offset-md-0" style="margin-top: 10px">
            <div class="col-md-4 offset-md-0" style="padding-right: 100px">
                <hgroup>
                    <h1>{{ sortie.name }}</h1>
                    {% if sortie.urlPhoto%}
                        <div class="col"><img src="{{ app.request.basepath }}/asset/images/{{ sortie.urlPhoto }}"
                                              style="display:block; width: auto; height: auto; max-width: 250px; max-height: 250px">
                        </div>
                        {% else %}
                    <div class="col"><img src="{{ app.request.basepath }}/asset/images/{{ sortie.urlPhoto }}"
                                          style="display:block; width: auto; height: auto; max-width: 250px; max-height: 250px">
                    </div>
                    {% endif %}
                </hgroup>
            </div>


            <div class=" row col-md-8 offset-md-0" style="margin-top: 10px">
                <div class="col-md-6 offset-md-0" style="padding-right: 100px">
                    <div class="detail-intitule">Nom de la sortie :</div>
                    <div class="detail-meta">{{ sortie.name }}, {{ sortie.etat }}</div>
                    <div class="detail-intitule">Date et heure :</div>
                    <div class="detail-meta">{{ sortie.dateDebut|date('Y-m-d H:i:s') }}</div>
                    <div class="detail-intitule">Date limite d'inscription :</div>
                    <div class="detail-meta">{{ sortie.dateCloture|date('Y-m-d') }}</div>
                    <div class="detail-intitule">Nombre de places :</div>
                    <div class="detail-meta">{{ sortie.nbInscriptionsMax }}</div>
                    <div class="detail-intitule">Durée :</div>
                    <div class="detail-meta">{{ sortie.duree }}</div>
                    <div class="detail-intitule">Description :</div>
                    <div class="detail-meta">{{ sortie.description|nl2br }}</div>
                </div>
                <div class="col-md-6 offset-md-0" style="padding-right: 100px">
                    <div class="detail-intitule">École organisatrice :</div>
                    <div class="detail-meta">{{ sortie.organisateur.site.name }}</div>
                    <div class="detail-intitule">Lieu :</div>
                    <div class="detail-meta">{{ sortie.lieu.nom }}</div>
                    <div class="detail-intitule">Rue :</div>
                    <div class="detail-meta">{{ sortie.lieu.rue }}</div>
                    <div class="detail-intitule">Code postal :</div>
                    <div class="detail-meta">{{ sortie.lieu.ville.codePostal }}</div>
                    <div class="detail-intitule">Latitude :</div>
                    <div class="detail-meta">{{ sortie.lieu.latitude }}</div>
                    <div class="detail-intitule">Longitude :</div>
                    <div class="detail-meta">{{ sortie.lieu.longitude }}</div>
                </div>
            </div>
        </div>
        <div class="row col-md-12 offset-md-0" style="margin-top: 10px;">
            <div class=" col-md-4 offset-md-0">
                <table class="table table-striped" style="width:auto; height: 10em; display:block; overflow: scroll;">
                    <thead>
                    <tr>
                        <th scope="col">Pseudo</th>
                        <th scope="col">Nom</th>
                    </tr>
                    </thead>
                    {% for user in users %}
                        <tbody>
                        <tr>
                            <td><a href="{{ path('profile_detail', {'id': user.id}) }}">{{ user.username }}</a></td>
                            <td>{{ user.nom }} {{ user.prenom }}</td>
                        </tr>
                        </tbody>
                    {% endfor %}
                </table>
            </div>
            <div class="col-md-3 offset-md-3" style="padding-top: 7em">

                {% set inscrit = 0 %}
                {% for user in users %}
                    {% if user.username == app.user.username %}
                        {% set inscrit = inscrit+1 %}
                    {% endif %}
                {% endfor %}

                {% if inscrit>0 %}
                    <button class="btn btn-info"><a href="{{path('desistement',{'id' : sortie.id})}}">Se désinscrire</a></button>
                {% endif %}
                {% if inscrit==0 %}
                    <button class="btn btn-info"><a href="{{ path('inscription_sortie', {'id' : sortie.id}) }}">S'inscrire</a></button
                {% endif %}

            </div>
        </div>
    </div>

    </main>
{% endblock %}

{% block title %}{{ sortie.name }} | {{ parent() }}{% endblock %}
