{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(passForm) }}
    <div class="container">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        <div class="row">
            <div class="col">{{ form_label(passForm.oldPassword) }}
            {{ form_widget(passForm.oldPassword) }}</div>
        </div>
        <div class="row">
            <div class="col">{{ form_label(passForm.password) }}
            {{ form_widget(passForm.password) }}</div>
        </div>
        <div class="row">
            <div class="col">{{ form_label(passForm.password) }}</div>
            <div class="col">{{ form_widget(passForm.password) }}</div>
        </div>
        <div class="row">
            <div class="col">{{ form_widget(passForm.enregistrer) }}</div>
            <div class="col">
                <a href="{{ path('user_update', { 'id': app.user.id}) }}"><input type="button" class="btn-annuler-modif-mdp" value="Annuler"></a>
            </div>
        </div>
    </div>
    {{ form_end(passForm) }}

{% endblock %}

{% block title %}

{% endblock %}

