{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(passForm) }}
    <div class="container">
        <div class="row">
            <div class="col">{{ form_label(passForm.oldPassword) }}
            {{ form_widget(passForm.oldPassword) }}</div>
        </div>
        <div class="row">
            <div class="col">{{ form_label(passForm.password) }}
            {{ form_widget(passForm.password) }}</div>
        </div>
        <div class="row">
            <div class="col">{{ form_label(passForm.password) }}</div>
            <div class="col">{{ form_widget(passForm.password) }}</div>
        </div>
        <div class="row">
            <div class="col">{{ form_widget(passForm.submit) }}</div>
            <div class="col">
                <a href="{{ path('affichage_sortie') }}"><button type="button" class="btn btn-warning" style="">Retour</button></a>
            </div>
        </div>
    </div>
    {{ form_end(passForm) }}

{% endblock %}

{% block title %}

{% endblock %}

