{% extends 'base.html.twig' %}

{% block body %}
{% block main %}

    <h1>{{ user.nom }}</h1>


    {{ form_start(userForm, {'attr': {'novalidate': 'novalidate'}} ) }}
    {{ form_widget(userForm) }}
    <button type="submit">Valider</button>
    {{ form_end(userForm) }}




{% endblock %}
{% endblock %}

{% block title %}Update user! | {{ parent() }}{% endblock %}